html {
    font-family:AppleMyungjo, sans-serif;
}

body {
    border:1px black solid;
    max-width: 100vw;
}
.header{
    font-size:2em;
}

.header_name {
    font-size: 4em;
}

.section_header {
    color: #2a50b3;
    font-size:2.25em;
}

.paragraph {
    font-size:1.5em;
}
.cv_top {
    display: inline-flex;
    justify-content: space-evenly;
}

.propic {
    width:15vw;
    margin:0 5em 0 10em;
}

.contact_info_item {
    list-style-type: none;
    font-size:1.5em;
}

.header_container {
    display: flex;
    justify-content: center;
}

.sidebar_left_container {
    display: block;
    width:33vw;
    padding:15px;
    /*background-color:blue;*/
}

.main_content_container {
    display: block;
    /*background-color: magenta;*/
    width:66vw;
}

.content {
    display: flex;
    width:100vw;
}
