nav {
    width: 100%;
    background-color: #282c34;
    display: flex;
    justify-content: space-evenly;
    height:10vh;
    align-items: center;
}

.nav-header {
    font-size:2.5em;
    margin:0 auto 0 1em;
    color: #00ff19;
}

.link {
    text-decoration: none;
    color: white;
    font-size:1.25em;
    transition-duration: 0.3s;
    margin:2%;
}

.link:hover {
    color: #49d522;
}