.register-container {
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #343944;
    height:100vh;
    align-items: center;
}

.page-header {
    color:white;
    margin:0;
    padding:1em;
}

.register-form-wrapper {
    height:50vh;
    width:50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: white;
    padding:2em;
}

.header-container {
    margin: auto 0 ;
    align-items: center;
}

.register-header {
    color: #4b515f;
    font-size:2em;
    margin:0;
}

.form-wrapper {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:2em;
}

.register-input {
    width:100%;
    box-sizing: border-box;
    padding:1em;
    margin: 0.5em 0;
    outline:none;
    border:1px solid lightgray;
}

.register-btn {
    padding:1em;
    border:none;
    background-color: #00cd1e;
    color:white;
    margin: 0.5em 0;
    cursor:pointer;
    transition-duration: 0.3s;
}

.register-btn:hover {
    background-color: #00c21b;
}