body > div {
    transition: all 0.3s ease;
    font-family: Avenir, sans-serif;
    font-size:2em;
    margin:10px;
}

.q {
    background-color:green;
    padding:50px;
    display: inline-flex;
    color:white;
}

.a {
    opacity:50%;
}

.a:hover {
    opacity:100%;
}

.b:hover {
    background-color: magenta;
    color:white;
}

.c:hover {
    transform: scale(1.2);
}

.d:hover {
    transform: scale(0.8);
}

.e:hover {
    transform:rotateZ(15deg);
}

.f:hover {
    border-radius:50%;
}

.g:hover {
    box-shadow: 3px 3px 4px 2px black;
}

.h:hover {
    box-shadow: inset 1px 1px 3px 3px black;
}
