
.container {
    box-sizing: border-box;
    width:100%;
    display: flex;
    justify-content: center;
}

.taskInput {
    width:50%;
    box-sizing: border-box;
    padding:0.5em;
    font-size: 1.5em;
    outline:none;
    border:none;
    border-bottom:1px solid #9e9e9e;
    background-color: transparent;
    text-align: left;
    transition-duration: 0.3s;
}

.taskInput:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.taskList {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.task {
    width:50%;
    padding:0.75em;
    font-size:1em;
    background-color:white;
    border:1px solid lightgray;
    text-align: left;
}

.task:hover {
    text-decoration: line-through;
    cursor: pointer;
}
