table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

th {
  border: 5px solid #dddddd;
  text-align: center;
  padding: 8px;
  }

  td{
  border: 5px solid #dddddd;
  text-align: center;
  padding: 8px;
  height: 20px;
  }

div{
	display: flex;
	justify-content: center;
}

#behavior{
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: red;
  


}

h1{

border-bottom: 1px solid black;
}


h4{
	display: flex;
	justify-content: center;
}

.senses{

  padding-left: 36px;
}
.media{
  display: flex;
  justify-content: center;
}

ul{
  padding-left: 72px;
}

.cats{
	border: 5px solid red;
	display: flex;
	justify-content: center;
}


span{
	background-color: yellow;
}